<p id="notice"><%= notice %></p>


<h1>タスク一覧画面</h1>
  <%= form_with( url: tasks_path, method: :get, local: true) do |form| %>
  <%= form.label :タスク名 %>
  <%= form.text_field :title %>
  <%= form.label :ステータス %>
  <%# プルダウンで選択できるようにしている%>
  <%= form.select :status, Task.statuses.keys, include_blank: true %>
  <%# 上記一行はメソッドエラーが出た。Tasks#indexでこれらを受け取る設定をしてあげなければいけない。 %>
  <%# 9行目が当たっている確信がcontrollerでただしく受け取らない限りわからない。 %>
  <%= form.label :優先度 %>
  <%= form.select :priority, Task.priorities.keys, include_blank: true %>
  <%= form.submit '検索',class:'kennsaku',id:'123' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>タスク</th>
      <th>内容</th>
      <th>終了期限</th>
      <th>ステータス</th>
      <th>優先度</th>
      <th colspan="4"></th>
      <%# コールスパンて何だよ！ %>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class= "task_row">
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.expired_at %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@tasks) %>
<%# 上記はkaminariのview側に表示するための処理である。 %>

<br>

<%= link_to '新規タスク登録', new_task_path %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= sleep(0.5) %>
<%= link_to "優先度をソートする", tasks_path(sort_priority: "true") %>
